<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
</head>
<body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script> 
<script src="http://d3js.org/d3.v3.min.js"></script>
<link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script>

var width = $(window).width();
var height = $(window).height() - 100;

var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-20)
    .linkDistance(15)
    .size([width, height]);

var svg = d3.select("#load").append("svg")
    .attr("width", width)
    .attr("height", height);

var val = $('.dateslider').slider('getValue');
loadData(val[1], val[0]);

function loadData(starttime, endtime) {
  d3.json("http://{{ domain }}/graph/digraphdata/" + starttime + "/" + endtime, function(error, graph) {
    force
        .nodes(graph.nodes)
        .links(graph.links)
        .start();

    var link = svg.selectAll(".link")
        .data(graph.links)
      .enter().append("line")
        .attr("class", "link")
        .style("stroke-width", function(d) { return Math.sqrt(d.value); })
        .attr("data-toggle", "tooltip")
        .attr("title", function(d) { return d.type; });

    var node = svg.selectAll(".node")
        .data(graph.nodes)
      .enter().append("circle")
        .attr("class", "node")
        .attr("r", 5)
        .style("fill", function(d) { return color(d.group); })
        .call(force.drag)
        .attr("data-toggle", "tooltip")
        .attr("title", function(d) { return d.name; });

    $(".node").tooltip({'container': 'body', 'placement': 'top'});
    $(".link").tooltip({'container': 'body', 'placement': 'top'});


    // node.append("title")
    //     .text(function(d) { return d.name; });

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

      node.attr("cx", function(d) { return d.x; })
          .attr("cy", function(d) { return d.y; });
    });
  });
}

</script>
</body>
</html>