<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

.node {
  stroke: black;     
  stroke-width: 0.5;
  fill: transparent;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.unselected {
  fill: transparent;
  stroke: black;     
  stroke-width: 0.5;
  pointer-events: all;

}

.selected {
  fill: red;
  fill-opacity: 0.1;
  stroke: red;
  stroke-width: 0.5;
  pointer-events: all;
}

</style>
</head>
<body>
<script>
//Code based on http://bl.ocks.org/d3noob/5155181

//set window size
var width = $(window).width();
var height = $(window).height() - 100;

//constants and scales
var maxLinkLength = 200;
var minLinkLength = 10;
var color = d3.scale.category20();

//set up force layout and change dynamically set link length between nodes 
var force = d3.layout.force()
    .charge(-20)
    .linkDistance(function (d) {return d.value * maxLinkLength + minLinkLength; })
    .size([width, height]);

//set image to load into div
var svg = d3.select("#load").append("svg")
    .attr("width", width)
    .attr("height", height);

//get friends data from server 
d3.json("https://{{ domain }}/graph/friendsdata", function(error, graph) {
    
    //fix main user to the center of the creen
    graph.nodes[0].fixed = true;
    graph.nodes[0].x = width / 2;
    graph.nodes[0].y = height / 2; 

    //set up force layout 
    force
        .nodes(graph.nodes)
        .links(graph.links)
        .gravity(0)
        .start();

    //append links
    var link = svg.selectAll(".link")
        .data(graph.links)
      .enter().append("line")
        .attr("class", "link")
        .style("stroke-width", "3px");

    //append nodes
    var node = svg.selectAll(".node")
        .data(graph.nodes)
      .enter().append("g")
        .call(force.drag);

    //append profile pictures to nodes from Facebook
    var picSize = 30;
    node.append("image")
      .attr("class", "pic")
      .attr("xlink:href", function (d) { return "https://graph.facebook.com/"+d.id+"/picture?type=square"; })
      .attr("x", -picSize / 2)
      .attr("y", -picSize / 2)
      .attr("width", picSize)
      .attr("height", picSize);

    //append circles around profile pictures 
     node.append("circle")
        .attr("class", function (d) {return (d.id == root.id) ? "node": "unselected";})
        .attr("r", picSize / 2 * 1.41)
        .attr("data-toggle", "tooltip")
        .attr("title", function(d) { return d.name; });
              
    $(".unselected").tooltip({'container': 'body', 'placement': 'top'});
    $(".selected").tooltip({'container': 'body', 'placement': 'top'});

    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });
      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
    });
});

</script>
</body>
</html>