
<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <style>
      body {
        font: 9px sans-serif;
        color: #121401;
      }
      .axis path,
      .axis line {
        fill: none;
        stroke: #121401;
        stroke-width: 2px;
        shape-rendering: crispEdges;
      }

      .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
      }
    </style>
  </head>
  <body>
    <h2 style="padding-left:60px;">Domain Visits Over Time</h2>
    <select id="drop">
       
    </select>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script>
      var margin = {top: 20, right: 55, bottom: 30, left: 40},
          width  = 1000 - margin.left - margin.right,
          height = 500  - margin.top  - margin.bottom;

      var x = d3.time.scale()
        .range([0, width]);

      var y = d3.scale.linear()
          .rangeRound([height, 0]);

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left");

      var line = d3.svg.line()
          .interpolate("cardinal")
          .x(function (d) { return x(d.label); })
          .y(function (d) { return y(d.value); });

      var color = d3.scale.category10();

      var svg = d3.select("body").append("svg")
          .attr("width",  width  + margin.left + margin.right)
          .attr("height", height + margin.top  + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var parseDate = d3.time.format("%Y-%m-%d").parse;

      var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function (d) {
        return '<p class="tip3">' + d.name + '<p class="tip1">' + d.value + '</p> <p class="tip3">'+  formatDate(d.label)+'</p>';
       });

       var formatDate = d3.time.format("%b %d, '%y");
      
      d3.json("http://{{ domain }}/graph/line/5", function (error, json) {

        var labelVar = 'date';
        var data = d3.entries(json['line_dict']);
        data = data.sort(function(a, b) {
          return d3.ascending(a.key, b.key);  
        });

        var varNames = d3.keys(data[0]['value']);
        console.log(varNames.length);
        color.domain(varNames);
        
        labels = ["5", "10", "15", "20", "all"];
        options = [5, 10, 15, 20, varNames.length];

        d3.select("#drop")
          .append("select")
          .selectAll("option")
          .data(options)
          .enter()
          .append("option")
          .text(function(d) {return labels[d]; })

        d3.selectAll('select')
          .on("change", change);

        function change() {
          console.log(this.selectedIndex);
        }


        data.forEach(function(d) {
          d.date = parseDate(d.key);
        });

        var seriesData = varNames.map(function (name) {
          return {
            name: name,
            values: data.map(function (d) {
              return {name: name, label: d.date, value: +d['value'][name]};
            })
          };
        });

        //console.log(seriesData);

        x.domain(d3.extent(data, function(d) { return d.date; }));
        y.domain([
          d3.min(seriesData, function (c) { 
            return d3.min(c.values, function (d) { return d.value; });
          }),
          d3.max(seriesData, function (c) { 
            return d3.max(c.values, function (d) { return d.value; });
          })
        ]);

        svg.call(tip);

        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis);

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Visits");

        var series = svg.selectAll(".series")
            .data(seriesData)
          .enter().append("g")
            .attr("class", "series");

        series.append("path")
          .attr("class", "line")
          .attr("d", function (d) { return line(d.values); })
          .style("stroke", function (d) { return color(d.name); })
          .style("stroke-width", "4px")
          .style("fill", "none")

        series.selectAll(".point")
          .data(function (d) { return d.values; })
          .enter().append("circle")
           .attr("class", "point")
           .attr("cx", function (d) { return x(d.label); })
           .attr("cy", function (d) { return y(d.value); })
           .attr("r", "5px")
           .style("fill", function (d) { return color(d.name); })
           .style("stroke", "grey")
           .style("stroke-width", "2px")
           .on("mouseover", tip.show)
           .on("mouseout",   tip.hide);

      });
    </script>
  </body>
</html>
