<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sequences sunburst</title>
    <style>


/*#main {
  width: 750px;
}*/

/*#sidebar {
  float: right;
  width: 100px;
}
*/
/*#sequence {
  width: 600px;
  height: 70px;
}*/

/*#legend {
  padding: 10px 0 0 3px;
}*/

#sequence text, #legend text {
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
  width: 100%;
  height: 100%;
}

#explanation {
  position: absolute;
/*  top: 230px;
  left: 305px;
  width: 140px;*/
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#count {
  font-size: 1.5em;
}

    </style>
  </head>
  <body>
    <div id="main">
      <div id="sequence"></div>
      <div id="chart">
        <div id="explanation" style="visibility: hidden;">
          <span id="percentage"></span><br/>
          <span id="count"></span><br/>
          of visits begin with this sequence of pages
          <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      // Dimensions of sunburst.
var width = $(window).width();
var height = $(window).height() - 200;
var radius = Math.min(width, height) / 2;

// Breadcrumb dimensions: width, height, spacing, width of tip/tail.
var b = {
  h: 30, s: 3, t: 10
};

// Mapping of step names to colors.
var colors = d3.scale.category10();

// Total size of all segments; we set this later, after loading the data.
var totalSize = 0; 

var vis = d3.select("#chart").append("svg:svg")
    .append("svg:g")
    .attr("id", "container")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var partition = d3.layout.partition()
    .size([2 * Math.PI, radius * radius])
    .children(function(d) { return (d.gdepth < (rootd.gdepth + 4)) ? d.gchildren : null; })
    .value(function(d) { return d.node_count; });

var arc = d3.svg.arc()
    .startAngle(function(d) { return d.x; })
    .endAngle(function(d) { return d.x + d.dx; })
    .innerRadius(function(d) { return Math.sqrt(d.y); })
    .outerRadius(function(d) { return Math.sqrt(d.y + d.dy); });

// Basic setup of page elements.
initializeBreadcrumbTrail();

var rootd;

// var val = $('.dateslider').slider('getValue');
loadData();

function loadData() {
  console.log("in load data");
  if ($("#1w").hasClass("active")) {
    d3.json("https://{{ domain }}/graph/bubble/1w", function(error, data) {
        rootd = data;
        createVisualization(data);
    });
  }
  else if ($("#1m").hasClass("active")) {
    d3.json("https://{{ domain }}/graph/bubble/1m", function(error, data) {
        rootd = data;
        createVisualization(data);
    });
  }
  else if ($("#3m").hasClass("active")) {
    d3.json("https://{{ domain }}/graph/bubble/3m", function(error, data) {
        rootd = data;
        createVisualization(data);
    });
  }
  else if ($("#6m").hasClass("active")) {
    d3.json("https://{{ domain }}/graph/bubble/6m", function(error, data) {
        rootd = data;
        createVisualization(data);
    });
  }
  else if ($("#1y").hasClass("active")) {
    d3.json("https://{{ domain }}/graph/bubble/1y", function(error, data) {
        rootd = data;
        createVisualization(data);
    });
  }
}

// Main function to draw and set up the visualization, once we have the data.
function createVisualization(root) {

  d3.select("#container").selectAll("path").remove();
  d3.select("#center").remove();

  // Bounding circle underneath the sunburst, to make it easier to detect
  // when the mouse leaves the parent g.
  vis.append("svg:circle")
      .attr("r", radius)
      .style("opacity", 0);

  // For efficiency, filter nodes to keep only those large enough to see.
  var nodes = partition.nodes(root)
      .filter(function(d) {
      return (d.dx > 0.01); // 0.005 radians = 0.29 degrees
      });

  var innerr = Math.sqrt(nodes[1].y);

  d3.select("#explanation")
    .style("top", Math.round(height / 2 - innerr * 0.5).toString() + "px")
    .style("left", Math.round(width / 2 - innerr * 0.8).toString() + "px")
    .style("width", Math.round(innerr * 1.6).toString() + "px");

  var path = vis.data([root]).selectAll("path")
    .data(nodes)
    .enter().append("svg:path")
    .attr("display", function(d) { return d.depth ? null : "none"; })
    .attr("d", arc)
    .attr("fill-rule", "evenodd")
    .style("fill", function(d) { return (d.gchildren) ? colors((d.children ? d : d.parent).name) : "black"; })
    .style("opacity", 1)
    .on("mouseover", mouseover)
    .on("click", clickdown);

  var center = vis.append("svg:circle")
    .attr("cx", 0)
    .attr("cy", 0)
    .attr("r", innerr)
    .style("opacity", 0)
    .style("pointer-events", "all")
    .attr("id", "center")
    .on("mouseover", mouseleave)
    .on("click", clickup);

  // Add the mouseleave handler to the bounding circle.
  d3.select("#container").on("mouseleave", mouseleave) ;

  // Get total size of the tree = value of root node from partition.
  totalSize = path.node().__data__.value;
 };

function clickdown(d)
{
  if (d.gchildren) {
    rootd = d;
    createVisualization(rootd);
  } else {
    window.open("http://" + d.full_url, '_blank');
  }
}

function clickup(d)
{
  if (rootd.parent) {
    rootd = rootd.parent;
    createVisualization(rootd);
  }
}

// Fade all but the current sequence, and show it in the breadcrumb trail.
function mouseover(d) {

  var percentage = (100 * d.value / totalSize).toPrecision(3);
  var percentageString = percentage + "%";
  if (percentage < 0.1) {
    percentageString = "< 0.1%";
  }
  var countString = "(" + d.value + ")";

  d3.select("#percentage")
      .text(percentageString);

  d3.select("#count")
      .text(countString);

  d3.select("#explanation")
      .style("visibility", "");

  var sequenceArray = getAncestors(d);
  updateBreadcrumbs(sequenceArray, percentageString);

  // Fade all the segments.
  d3.selectAll("path")
      .style("opacity", 0.3);

  // Then highlight only those that are an ancestor of the current segment.
  vis.selectAll("path")
      .filter(function(node) {
                return (sequenceArray.indexOf(node) >= 0);
              })
      .style("opacity", 1);
}

// Restore everything to full opacity when moving off the visualization.
function mouseleave(d) {
  // Hide the breadcrumb trail
  d3.select("#trail")
      .style("visibility", "hidden");

  // Deactivate all segments during transition.
  d3.selectAll("path").on("mouseover", null);

  // Transition each segment to full opacity and then reactivate it.
  d3.selectAll("path")
      .transition()
      .duration(100)
      .style("opacity", 1)
      .each("end", function() {
              d3.select(this).on("mouseover", mouseover);
            });

  d3.select("#explanation")
      .transition()
      .duration(100)
      .style("visibility", "hidden");
}

// Given a node in a partition layout, return an array of all of its ancestor
// nodes, highest first, but excluding the root.
function getAncestors(node) {
  var path = [];
  var current = node;
  while (current.parent) {
    path.unshift(current);
    current = current.parent;
  }
  return path;
}

function initializeBreadcrumbTrail() {
  // Add the svg area.
  var trail = d3.select("#sequence")
      // .style("width", "100%")
      .append("svg:svg")
        // .attr("width", "%100")
        .attr("height", 50)
        .attr("id", "trail");
  // Add the label at the end, for the percentage.
  trail.append("svg:text")
    .attr("id", "endlabel")
    .style("fill", "#000");
}

function getTextWidth(t) {
  var o = $('<div>' + t + '</div>')
            .css({'position': 'absolute', 'float': 'left', 'white-space': 'nowrap', 'visibility': 'hidden'})
            .appendTo($('body')),
      w = o.width();
  o.remove();
  return w;
}

// Generate a string that describes the points of a breadcrumb polygon.
function breadcrumbPoints(d, i) {
  var points = [];

  var w = getTextWidth(d.name) + 30;

  points.push("0,0");
  points.push(w + ",0");
  points.push(w + b.t + "," + (b.h / 2));
  points.push(w + "," + b.h);
  points.push("0," + b.h);
  if (i > 0) { // Leftmost breadcrumb; don't include 6th vertex.
    points.push(b.t + "," + (b.h / 2));
  }
  return points.join(" ");
}

var ws = new Array();

// Update the breadcrumb trail to show the current sequence and percentage.
function updateBreadcrumbs(nodeArray, percentageString) {

  // Data join; key function combines name and depth (= position in sequence).
  var g = d3.select("#trail")
      .selectAll("g")
      .data(nodeArray, function(d) { return d.name + d.depth; });

  // Add breadcrumb and label for entering nodes.
  var entering = g.enter().append("svg:g");

  entering.append("svg:polygon")
      .attr("points", breadcrumbPoints)
      .style("fill", function(d) { return (d.gchildren) ? colors((d.children ? d : d.parent).name) : "black"; });

  entering.append("svg:text")
      .attr("x", function(d) { return (getTextWidth(d.name) + 30 + b.t) / 2 })
      .attr("y", b.h / 2)
      .attr("dy", "0.35em")
      .attr("text-anchor", "middle")
      .text(function(d) { return d.name; });

  ws[0] = 0;
  for (i = 1; i < g.size(); i++) {
    ws[i] = getTextWidth(g[0][i - 1].__data__.name) + 30 + b.s;
    ws[i] += ws[i - 1];
  }

  // Set position for entering and updating nodes.
  g.attr("transform", function(d, i) {
    return "translate(" + ws[i] + ", 0)";
  });

  // Remove exiting nodes.
  g.exit().remove();

  // Now move and update the percentage at the end.
  d3.select("#trail").select("#endlabel")
      .attr("x", function(d) { (nodeArray.length + 0.5) * (ws[g.size() - 1] + b.s) })
      .attr("y", b.h / 2)
      .attr("dy", "0.35em")
      .attr("text-anchor", "middle")
      .text(percentageString);

  // Make the breadcrumb trail visible, if it's hidden.
  d3.select("#trail")
      .style("visibility", "");

}
        
function stash(d) {
                    d.x0 = 0; // d.x;
                    d.dx0 = 0; //d.dx;
                }; 
    </script>
    <script type="text/javascript">
      // Hack to make this example display correctly in an iframe on bl.ocks.org
      d3.select(self.frameElement).style("height", "700px");
  </script> 
  </body>
</html>
