<!doctype html>
{% load staticfiles %}
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
	<title>Histograph | Login</title>
	<link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/django_facebook/css/facebook.css" type="text/css" rel="stylesheet" media="all" />
	<link href='/static/open-sans.css' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="all">
		<div class="row" align="center">
			<h1>We're sorry, this link seems to be broken.</h1>
		</div>
		<br>
		<div class="row"></div>
	</div>

</body>
</html>