{% extends "core/base.html" %}

{% block explore-nav %}class="active"{% endblock %}

{% block content %}
<body>
	<div align="center" class="col-sm-8 col-sm-offset-2" id="all">
		<!-- {% for key, value in first %}
		<div class="rnd">
			{% if value.last_title %}
			<svg width="20" height="20">
				<circle cx="10" cy="10" r="10" fill="#ddd" />
			</svg>
			<h6 align="left"> {{value.last_title}} </h6>
			{% else %}
			<h6 align="left"> {{key}} </h6>
			{% endif %}
			<a a href="http://{{key}}" target="_blank" class="btn btn-lg btn-success alignleft">Go</a>
			<button class="btn btn-sm-red alignright">{{value.score}}</button>
			<hl>
		</div>
		{% endfor %} -->
	</div>

	<script type="text/javascript">
	// $('#all').waypoint(function(direction) {
	// 	if (direction == 'down') {
	// 		alert('Basic example callback triggered.');
	// 	}
	// });

$(window).scroll(function() {
	if($(window).scrollTop() + $(window).height() == $(document).height()) {
		updateJSON();
	}
});
</script>

<script type="text/javascript">
function truncate(string){
	if (string.length > 50)
		return string.substring(0,50)+'...';
	else
		return string;
};

function updateJSON() {
	var items = [];
	for (i = base; i < base+50; i++) {
		var title;
		var color;
		var url;
		if (jsonResp[i][1]['last_title']) {
			title = jsonResp[i][1]['last_title'];
		}
		else title = jsonResp[i][0];
		if (jsonResp[i][0].indexOf("&") > -1) {
			url = 'broken_link'
		}
		else {
			url = "http://" + jsonResp[i][0]
		}
		color = "rgb(" + (241 - i) + "," + (27 + i) + "," + (56 + i) + ")";
		// if (parseFloat(jsonResp[i][1]['score']) > 150) {
		// 	color = '#f11b38';
		// }
		// else if (parseFloat(jsonResp[i][1]['score']) > 75) {
		// 	color = '#fd751c';
		// }

		// else {
		// 	color = '#12a286';
		// }

		var new_div = $("<div>")
		.addClass("explore_div")
		.addClass("row")
		// .append($("<div>")
		// 	.css("float", "left")
		// 	.css("margin", "20px 0px")
		// 	.append($("<button>")
		// 		.addClass("btn btn-default btn-lg")
		// 		)
		// 	)
		.append($("<div>")
			.addClass("circle")
			.css("float", "left")
			.css("margin", "20px 0px")
			.text(i + 1)
			)
		.append($("<a>")
			.attr("href", url)
			.attr("target", "_blank")
			.append($("<h4>")
				.css("float", "left")
				.css("margin", "30px 0px 0px 20px")
				.text(truncate(title))
				)
			)

		.append($("<div>")
			.addClass("score_circle")
			.css("float", "right")
			.css("margin", "10px 0px")
			.css("background", color)
			.text(parseFloat(jsonResp[i][1]['score']).toFixed(1))
			);

		$("#all").append(new_div);

		var url_div = $("<div>")
		.addClass("row")
			.css("width", "80%")
		.append($("<span>")
			.addClass("glyphicon glyphicon-thumbs-up")
			.attr("onClick", "thumbs_up(" + i + ")")
			.attr("id", "up" + i)
			.css("float", "left")
			.css("margin", "-25px 0px 0px 10px")
			.css("cursor", "pointer")
			)
		.append($("<span>")
			.addClass("glyphicon glyphicon-thumbs-down")
			.css("float", "left")
			.attr("onClick", "thumbs_down(" + i + ")")
			.attr("id", "down" + i)
			.css("margin", "5px 0px 0px 10px")
			.css("cursor", "pointer")
			)
		.append($("<h6>")
			.css("float", "left")
			.css("margin", "0px 0px 0px 36px")
			.text(truncate(jsonResp[i][0].split("/")[0]))
			)
		.append($("<br>")
			);
		$("#all").append(url_div);
		$("#all").append("<hr>");


			// $("#all").append("div:rnd");
			// var svg = main.append("svg");
			// var circle = svg.attr("width", "20")
			// 	.attr("height", "20")
			// 	.append("circle");

			// circle.attr("cx", "10")
			// 	.attr("cy", "10")
			// 	.attr("r", "10")
			// 	.attr("fill", "#ddd");
			// main.append("")

			// items.push( "<div class='rnd'><svg width='20' height='20'><circle cx='10' cy='10' r='10' fill='#ddd' /></svg><h6 align='left'>" + jsonResp[i][1]['last_title'] + "</h6>" );
		// else {
		// 	items.push( "<div class='rnd'><h6 align='left'>" + jsonResp[i][0] + "</h6>" );
		// }
		// items.push("<a a href='http://" + jsonResp[i][0] + "'" + " target='_blank' class='btn btn-lg btn-success alignleft'>Go</a>");
		// items.push("<button class='btn btn-sm-red alignright'>" + jsonResp[i][1]['score'] + "</button>");
		// items.push("</div><br>");
	}

	// $( "<ul/>", {
	// 	"class": "my-new-list",
	// 	html: items.join( "" )
	// }).appendTo( "#all" );

base = base+50;

$("#all").html($("#all").html());
}
</script>

<script type="text/javascript">
var jsonResp = null;
var base = 0;
$(document).ready(function(){
	$.getJSON( "rank", function( data ) {
		jsonResp = data;
		updateJSON();
	});
});
</script>

<script type="text/javascript">

var csrftoken = getCookie('csrftoken');
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
function thumbs_up(i) {
	if ( ($("#down" + i).css('color')) == 'rgb(255, 0, 0)') {
		$("#down" + i).css( "color", "#6d1daa" );
		$("#up" + i).css( "color", "green" );
		$.ajax({
		 type: 'POST',
		 url: '/up_vote',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i}
		});
	}
	else if( $("#up" + i).css('color') == 'rgb(0, 128, 0)') {
		$("#up" + i).css( "color", "#6d1daa" );
		$.ajax({
		 type: 'POST',
		 url: '/down_vote',
		 dataType: 'json',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i},
		});
	}
	else {
		$.ajax({
		 type: 'POST',
		 url: '/up_vote',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i}
		});
		$("#up" + i).css( "color", "green" );
	}

}
function thumbs_down(i) {
	if ( ($("#up" + i).css('color')) == 'rgb(0, 128, 0)') {
		$("#up" + i).css( "color", "#6d1daa" );
		$.ajax({
		 type: 'POST',
		 url: '/down_vote',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i}
		});
		$("#down" + i).css( "color", "red" );
	}
	else if ( ($("#down" + i).css('color')) == 'rgb(255, 0, 0)') {
		$("#down" + i).css( "color", "#6d1daa" );
		$.ajax({
		 type: 'POST',
		 url: '/up_vote',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i}
		});
	}
	else {
		$.ajax({
		 type: 'POST',
		 url: '/down_vote',
		 dataType: 'json',
		 headers:{"X-CSRFToken":csrftoken},
		 data: {'index': i},
		});
		$("#down" + i).css( "color", "red" );
	}
}
</script>
{% endblock %}

