{% extends "core/base.html" %}

{% block graphs-nav %}class="active"{% endblock %}

{% block content %}

<script src="/static/bootstrap-slider.js"></script>
<link href="/static/bootstrap-slider.css" rel="stylesheet">

<div id="row">
  <div id="load" class="col-sm-12" align="center"></div>

  <div id="leftmenu" class="menuclosed" style="padding: 20px; transition: left 0.5s ease; -webkit-transition: left 0.5s ease;">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default btn-lg" onClick="loadSunburst()">Sunburst</button>
      <button type="button" class="btn btn-default btn-lg" onClick="loadDigraph()">Digraph</button>
      <button type="button" class="btn btn-default btn-lg" onClick="loadLineplot()">Line Plot</button>
    </div>
  </div>

  <div id="leftmenu_over">
  </div>

  <div id="rightmenu" class="menuclosed" style="padding: 20px; transition: right 0.5s ease; -webkit-transition: right 0.5s ease;">
    <div>
      <input type="text" class="dateslider" value="" data-slider-min="0" data-slider-max="300" data-slider-step="1" data-slider-value="[0,7]" data-slider-orientation="vertical">
    </div>
  </div>

  <div id="rightmenu_over">
  </div>

  <div style="position:absolute; top:50%; right:20px">
    <a id="rightButton" class="btn btn-primary btn-lg btn-side-menu glyphicon glyphicon-chevron-right" data-toggle="tooltip" data-container="body" data-placement="left" title="Change settings"></a>
  </div>

  <div style="position:absolute; top:50%; left:20px;">
    <a id="leftButton" class="btn btn-primary btn-lg btn-side-menu glyphicon glyphicon-chevron-left" data-toggle="tooltip" data-container="body" data-placement="right" title="View graphs on your history"></a>
  </div>
</div>

<script type="text/javascript">
// load graphs on click
function loadSunburst() {
  $("#load").load("../graph/sunburst");
}

function loadDigraph() {
  $("#load").load("../graph/digraph");
}

function loadLineplot() {
  $("#load").load("../graph/lineplot");
}

</script>

<!-- initialize slider plugin -->
<script>
$(document).ready(function(){
  $('#leftButton').click(function () {
      toggleleftmenu();
  });

  $('#leftmenu_over').click(function () {
      closeleftmenu();
  });

  function toggleleftmenu (){
      if ( $('#leftmenu').hasClass('menuopen') ) {
          closeleftmenu();
      } else {
          openleftmenu();
      }
  }

  function openleftmenu(){
      if ( $('#leftmenu').hasClass('menuclosed') ) {
          $('#leftmenu').css('left','0px');
          $('#leftmenu').removeClass('menuclosed');
          $('#leftmenu').addClass('menuopen');
          $('#leftmenu_over').show();
      };
  }

  function closeleftmenu(){
      if ( $('#leftmenu').hasClass('menuopen') ) {
          $('#leftmenu').css('left','-300px');
          $('#leftmenu').removeClass('menuopen')
          $('#leftmenu').addClass('menuclosed')
          $('#leftmenu_over').hide();
      };
  }

  $('#rightButton').click(function () {
      togglerightmenu();
  });

  $('#rightmenu_over').click(function () {
      closerightmenu();
  });

  function togglerightmenu (){
      if ( $('#rightmenu').hasClass('menuopen') ) {
          closerightmenu();
      } else {
          openrightmenu();
      }
  }

  function openrightmenu(){
      if ( $('#rightmenu').hasClass('menuclosed') ) {
          $('#rightmenu').css('right','0px');
          $('#rightmenu').removeClass('menuclosed');
          $('#rightmenu').addClass('menuopen');
          $('#rightmenu_over').show();
      };
  }

  function closerightmenu(){
      if ( $('#rightmenu').hasClass('menuopen') ) {
          $('#rightmenu').css('right','-300px');
          $('#rightmenu').removeClass('menuopen')
          $('#rightmenu').addClass('menuclosed')
          $('#rightmenu_over').hide();
      };
  }

  $('.dateslider').slider({
    formater: function(value) {
      var date = new Date();
      date.setDate(date.getDate() - value);
      var d = date.getDate();
      var m = date.getMonth() + 1;
      var y = date.getFullYear();

      return m + '/' + d + '/' + y;
    }
  })
    .on('slideStop', loadSunburst);

  loadSunburst();

});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#leftButton').tooltip();
  $('#rightButton').tooltip();  
});
</script>

<!-- <script src="/static/sidebar.js"></script> -->

{% endblock %}
