{% extends "core/base.html" %}

{% block graphs-nav %}class="active"{% endblock %}

{% block content %}
<div id="row">
  <div id="load" class="col-sm-12" align="center"></div>
  <div style="position:absolute; top:50%; right:20px">
    <a id="rightButton" class="btn btn-primary btn-lg btn-side-menu glyphicon glyphicon-chevron-right" data-toggle="tooltip" data-container="body" data-placement="left" title="Change settings"></a>
  </div>
  <div style="position:absolute; top:50%; left:20px;">
    <a id="leftButton" class="btn btn-primary btn-lg btn-side-menu glyphicon glyphicon-chevron-left" data-toggle="tooltip" data-container="body" data-placement="right" title="View graphs on your history"></a>
  </div>
</div>
</div>

<div id="menu" style="display:none;">
  <div class="btn-group-vertical">
    <button type="button" class="btn btn-lg" onClick="sunburstClick()">Sunburst</button>
    <button type="button" class="btn btn-lg" onClick="digraphClick()">Digraph</button>
    <button type="button" class="btn btn-lg" onClick="lineplotClick()">Line Plot</button>
  </div>
</div>

<div id="menu_right" style="display:none;">
  <ul >
    
  </ul>
</div>

<script type="text/javascript">
// load graphs on click
function sunburstClick() {
  $("#load").load("../graph/sunburst");
}

function digraphClick() {
  $("#load").load("../graph/pie");
}

function lineplotClick() {
  $("#load").load("../graph/pie");
}

</script>

<!-- initialize slider plugin -->
<script>
$(document).ready(function(){
  $('#menu ul').sliding_menu_js({
    toggle_button: true, 
    transitionSpeed: 0.5, 
    easing: 'ease', 
  });

  $('#menu_right ul').sliding_menu_js_right({
    toggle_button: true, 
    transitionSpeed: 0.5, 
    easing: 'ease', 
  });

  $("#load").load("../graph/sunburst");

});
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('#leftButton').tooltip();
  $('#rightButton').tooltip();  
});
</script>

<script src="/static/slider/src/js/jquery.sliding_menu.js"></script>
<script src="/static/slider/src/js/jquery.sliding_menu_right.js"></script>

{% endblock %}
