{% extends "core/base.html" %}

{% block install-nav %}class="active"{% endblock %}

{% block content %}
<div id="all" align="center">
<h2>We noticed you have not installed the chrome extension:</h2>
<h3>Click below to install</h3><br><br>
<a href="https://chrome.google.com/webstore/detail/histograph/ibdeppimjgfcobobkeaiiiebdbhbacfo?hl=en&gl=US&authuser=2" target="_blank" onclick="thanks()" class="btn btn-primary btn-lg">HERE</a>
</div>

<script>
function thanks() {
    setTimeout(function () {
        document.location.pathname = "setextension";
    }, 1000);
}
</script>
{% endblock %}
