{% extends "core/base.html" %}

{% block install-nav %}class="active"{% endblock %}

{% block content %}
<div id="all" align="center">
<h2>We noticed you have not installed the chrome extension:</h2>
<h3>Instructions for installing the Histograph chrome extension:</h3>
<h4>1) Click here:</h4>
<a href="{{STATIC_URL}}histograph_ext_package.crx" onclick="thanks()" class="btn btn-primary btn-lg">HERE</a>
</div>

<script>
function thanks() {
    setTimeout(function () {
        document.location.pathname = "core/setextension";
    }, 1000);
}
</script>
{% endblock %}
