{% extends "core/base.html" %}

{% block settings-nav %}class="active"{% endblock %}

{% block content %}

<div id="load" class="col-sm-12" align="center"></div>
<div class="row">
 <div class="col-md-4 affix pull-left">
   
   <p>This page helps you filter to URLs which you want to be used by Histograph</p>
   <p>The following graph shows all top-level domains which you have visited (e.g. www.google.com)</p>
   <ul>
     <li><font color="#f11b38">Click</font> on a bubble to view sub-domains (e.g. www.google.com/maps)</li>
     <li><font color="#f11b38" weight="thicker">Shift-Click</font> on a bubble to block that domain or sub-domain and all sub-domains from being used by Histograph.</li>
     <li><font color="#f11b38">Ctrl-Shift-Click</font> on a bubble to block a sub-domain and all sites visited from links on that site.</li>
     <li><font color="#f11b38">Ctrl-Click</font> on a bubble to unblock that sub-domain.</li>
   </ul>
 </div>
<!--
 <div class="col-md-3 pull-right">
   <p><u> Legend </u> </p>
     <p><font color="#6D1DAA"><b>Sub-Domain Used by Histrograph</font></p>
     <p><font color="#f11b38"><b>Sub-Domain Blocked</font></p>
     <p><font color="#f11b38"><b>Sub-Domain and all links blocked</font></p>
 </div>
-->
</div>

<script type="text/javascript">
  $("#load").load("../graph/circle");
</script>
{% endblock %}
