{% extends "core/base.html" %}

{% block team-nav %}class="active"{% endblock %}

{% block content %}
	<div align="center">
    <img src="{{ STATIC_URL }}histograph.jpg" width="40%" height="40%">
	</div>
	<div align="center">
	<div class="thumbnail with-caption">
	<img src="{{STATIC_URL}}aboutpics/riley.jpg" width="320">
	<p>They don't call him DJ Rize for nothing<small>Riley</small></p>
	</div>
	<div class="thumbnail with-caption">
	<img src="{{STATIC_URL}}aboutpics/akshaya.jpg" width="320">
	<p>She's watching you<small>Akshaya</small></p>
	</div>
	<div class="thumbnail with-caption">
	<img src="{{STATIC_URL}}aboutpics/sam.jpg" width="320">
	<p>He gets really into his extension<small>Sam</small></p>
	</div>
	<div class="thumbnail with-caption">
	<img src="{{STATIC_URL}}aboutpics/anksuh.jpg" width="320">
	<p>Even his hats defy gravity<small>Ankush</small></p>
	</div>
	<div class="thumbnail with-caption">
	<img src="{{STATIC_URL}}aboutpics/aaron.jpg" width="320">
	<p>Keeps the group running<small>Aaron</small></p>
	</div>
	</div>
{% endblock %}
