"""
WSGI config for histograph project.

It exposes the WSGI callable as a module-level variable named ``application``.

For more information on this file, see
https://docs.djangoproject.com/en/1.6/howto/deployment/wsgi/
"""

import os, sys

sys.path.append('/var/www/histograph')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "histograph.settings")
os.environ['HTTPS'] = "on"

import djcelery
djcelery.setup_loader()

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
